<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.damu.febs.server.test.mapper.TestLogMapper">
  <resultMap id="BaseResultMap" type="com.damu.febs.server.test.data.entity.TestLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="logContent" jdbcType="VARCHAR" property="logcontent" />
    <result column="createts" jdbcType="TIMESTAMP" property="createts" />
  </resultMap>
  <sql id="Base_Column_List">
    id, logContent, createts
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_test_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_test_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.damu.febs.server.test.data.entity.TestLog">
    insert into t_test_log (id, logContent, createts
      )
    values (#{id,jdbcType=INTEGER}, #{logcontent,jdbcType=VARCHAR}, #{createts,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.damu.febs.server.test.data.entity.TestLog">
    insert into t_test_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="logcontent != null">
        logContent,
      </if>
      <if test="createts != null">
        createts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="logcontent != null">
        #{logcontent,jdbcType=VARCHAR},
      </if>
      <if test="createts != null">
        #{createts,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.damu.febs.server.test.data.entity.TestLog">
    update t_test_log
    <set>
      <if test="logcontent != null">
        logContent = #{logcontent,jdbcType=VARCHAR},
      </if>
      <if test="createts != null">
        createts = #{createts,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.damu.febs.server.test.data.entity.TestLog">
    update t_test_log
    set logContent = #{logcontent,jdbcType=VARCHAR},
      createts = #{createts,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>